
/********** 
5. Navbar Styles 
**********/
@use "sass:math";

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: start;
  justify-content: space-between; // space out brand from logo
  padding-top: $base-padding * 1.5;
  padding-right: $base-padding * 1.25 ; // default: null
  padding-bottom: $base-padding * 1.5;
  padding-left: $base-padding * 1.25; // default: null
  background-color: $color-header;
  z-index: 1000;
  transition: all 0.3s cubic-bezier(0.36, 0.03, 0, 0.91);
  border-bottom: 1px solid $color-header;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.8);
}

@include media-breakpoint-down-lg {
  .navbar {
    margin: $base-margin;
    padding: 1.5rem 0;
    border-radius: 0.5rem;
    width: calc(100% - 32px) !important;
  }
}
@include media-breakpoint-down-sm {
  .navbar {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
  padding-top: -10px;
  padding-bottom: 0;
  margin-right: $base-margin;
  white-space: nowrap;
  line-height: 1.0;
}
//start navbar-brand-two
.navbar-brand-two {
  .white-logo {
    display: block;
  }
  .logo {
    display: none;
  }
}
//End navbar-brand-two
//Responsive MObile View
@include media-breakpoint-down-sm {
  .navbar-brand {
    flex: 1;
  }
}
// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
} 

.nav-item:last-child {
    margin-left: auto;
}

  .nav-link {
    padding-right: $base-padding *  1.25 !important;
    padding-left: $base-padding *  1.25 !important;
    display: flex;
    align-items: center;
    &.active {
      color: $color-text;
      font-weight: bold;
    }
    &:hover {
      color: $color-text;
    }
  }
  .dropdown {
    .dropdown-menu {
      box-sizing: content-box;
        background: $color-black-light;
        min-width: 188px;
        transition: $base-transition;
        border: 1px solid $color-gray;
        border-radius: 0.5rem;
        padding: 30px 30px 40px;
        left: -70%;
        box-shadow: 0 2px 4px rgba(40, 41, 44, 0.1);
    }
    &-toggle {
      &:after {
        content: "";
        font-family: $font-master;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        border-top: none;
        padding:  0;
        margin-right: 0 !important;
      }
    }
    li.dropdown-megamenu-column-items {
      margin-bottom: 1.4rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-item {
      margin-bottom: 0;
      color: $color-text;
      text-align: left;
      padding: 0;
    }
    .nav-arrow {
      position: absolute;
      top: -10px;
      right: 15px;
    }
  }

  /* Dropdown Menu for large screens */
  @include media-breakpoint-up-lg {
    .dropdown {
      .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: scaleY(0);
        top: 100%;
        transform-origin: 0 0 0;
      }
      &:hover {
        .dropdown-menu {
          opacity: 1;
          visibility: visible;
          transform: scaleY(1);
          transform-origin: 0 0 0;
        }
      }
    }
  }

  /* Dropdown Menu for Small screen */
  @include media-breakpoint-down-lg {
    .nav-link {
      margin-top: $base-margin * 1.5 !important;
      margin-bottom: 0.3rem;
      position: relative;
      display: flex;
      justify-content: center;
      color: $color-header;
      font-weight: $tommy-soft-medium;
      font-family: $font-master;
    }

    .dropdown {
      width: calc(100% + 28px);
      .dropdown-menu {
        display: none;
        height: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transform: scaleY(0);
        top: 100%;
        transform-origin: 0 0 0;
        left: 0;
        transition: $base-transition;
      }
      .dropdown-menu.show {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
        transform-origin: 0 0 0;
        height: auto;
        text-align: center;
        background: #f3f3f3;
        width: auto;
        border-radius: 0;
      }
      &-toggle {
        &:after {
          font-size: 1rem;
          position: relative;
          transform: translateY(-5%);
          padding: 0;
          margin: 0;
        }
      }
      &-item {
        text-align: center;
      }
    }
  }

//start navbar two
.navbar-two {
  .nav-link {
    color: $color-black-ultra;
    &:hover {
      color: $color-black-light;
    }
  }
  @include media-breakpoint-down-lg {
    .nav-link {
      &:hover {
        color: $color-text;
      }
    }
  }
  .btn-links {
    color: $color-text;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid transparent;
    span {
      color: $color-text;
      &:nth-child(1) {
        svg {
          path {
            stroke: $color-white;
          }
        }
      }
    }
    &:hover {
      background: rgba(255, 255, 255, 0.04);

      border: 1px solid rgba(255, 255, 255, 0.1);
      span {
        color: $color-white;
      }
      i {
        color: $color-white;
      }
    }
  }
}
//End navbar two
//Sticky Navbar

.sticky-nav {
  padding: $base-padding $base-padding * 2 !important;
  background: $color-white;
  box-shadow: 0px 45px 80px rgba(0, 0, 0, 0.04);
  .btn-gray-dark {
    background: $color-black-medium;
  }
  .navbar-brand-two {
    .white-logo {
      display: none;
    }
    .logo {
      display: block;
    }
  }
  .navbar-two {
    .nav-link {
      color: $color-header;
    }
    .btn-links {
      background: rgba(7, 12, 19, 0.04);
      color: $color-header;
      border: 1px solid transparent;
      span {
        color: $color-header;
        &:nth-child(1) {
          svg {
            path {
              stroke: $color-header;
            }
          }
        }
      }
    }
  }
}
//Customize style for mobile
@include media-breakpoint-down-lg {
  .navbar {
    background: $color-header;
  }
  .navbar-brand-two {
    .white-logo {
      display: none;
    }
    .logo {
      display: block;
    }
  }
  .navbar-two {
    .nav-link {
      color: $color-text;
    }
    .btn-links {
      background: rgba(7, 12, 19, 0.04);
      border: 1px solid transparent;
      span {
        color: $color-header;
      }
    }
  }
  .sticky-nav{
    .navbar-nav .dropdown {
      width: calc(100% + 92px);
      
    }
  }
}
@include media-breakpoint-down-sm {
  .sticky-nav {
    padding: $base-padding !important;
    .navbar-nav .dropdown {
      width: calc(100% + 60px);
      
    }
  }
}

@include media-breakpoint-down-lg {
  .navbar {
    background: $color-header;
  }
}
// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  background-color: $color-black-light; // remove default button style
  border: $base-border-width solid #aaaab7; // remove default button style
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-default {
  display: none;
}
.navbar-toggler .navbar-toggler-default {
  display: -ms-flexbox;
  display: flex;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-toggled {
  display: -ms-flexbox;
  display: flex;
}
.navbar-toggler .navbar-toggler-toggled {
  display: none;
}
.dropdown-toggle::after {
  margin-left: 0;
}

.contact-button {
  position: relative;
  font-family: $font-master;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  background-color: transparent;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.contact-button:hover {
  background: #7D3DFF;
  box-shadow: 0 0 16px 5px rgba(0, 142, 236, 0.16);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: rgb(255, 255, 255);
}

.contact-button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.contact-button::before {
  content: '';
  display: block;
  width: 100px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: transparent;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.contact-button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.toggle-switch {
  position: relative;
  width: 200px;
  height: 48px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 48px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: flex;
  background-color: transparent;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: transparent;
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.5s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
