<!--
  ###########
  counter-up Section
  ###########
-->
<section class="counter-up pb-5">
  <div class="container">
    <div class="row">
      <!--==== Srart counter-up Section  =====-->
      <div class="col-lg-10 mx-auto">
        <div class="counter-wraper pb-4 pb-lg-6 pb-xl-8 d-md-flex">
          <div class="counter-up-content">
            <div class="counter-up-content-item">
              <div class="counter-percent">
                <span class="counter">150</span><span class="percent">+</span>
              </div>
              <h5>PROJECTS COMPLETED</h5>
            </div>
          </div>
          <div class="counter-up-content ">
            <div class="counter-up-content-item">
              <div class="counter-percent ">
                <span class="counter">06</span><span class="percent">+</span>
              </div>
              <h5>DESIGN AWARDS</h5>
            </div>
          </div>
          <div class="counter-up-content ">
            <div class="counter-up-content-item">
              <div class="counter-percent ">
                <span class="counter">11</span><span class="percent">+</span>
              </div>
              <h5>YEARS EXPERIENCE</h5>
            </div>
          </div>
          <div class="counter-up-content ">
            <div class="counter-up-content-item">
              <div class="counter-percent ">
                <span class="counter">72</span><span class="percent">+</span>
              </div>
              <h5>HAPPY CLIENTS</h5>
            </div>
          </div>
        </div>
      </div>
      <!--==== End counter-up Section  =====-->
    </div>
  </div>
</section>
<!--
  ###########
  end counter-up Section
  ###########
-->