<!--
  #############
  Feedback-two section
  #############
-->

<section
  class="feedback feedback-two pb-5  pb-md-8  pt-xxl-7 pb-xxl-10"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <!--==== Srart feedback-two Section Header =====-->
        <div class="section-header">
          <h2 class="text-white">Clients Feedbacks 😍</h2>
        </div>
        <!--==== End feedback-two Section Header =====-->
        <!--=========== Start feedback-slider =============-->
        <div class="feedback-slider">
          <div class="feedback-slider-item"  data-dot-img="images/feedback/client-5.png">
            <div class="icon">
              <img src="images/feedback/icon.svg" alt="icon" />
            </div>
            <div class="content">
              <h3>
                Jack is really good designer. I’m happy to work with him. dolor
                sit amet, consectetur adipiscing elit,sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.Contrary to popular
                belief, Lorem Ipsum is not simply random text. It has roots in a
                piece of classical Latin literature.
              </h3>
            </div>
            <div class="review">
              <div class="profile">
                <div class="logo">
                  <img src="images/feedback/prfile.png" class="" alt="" />
                </div>
                <div class="info">
                  <h5>Jenny Wilson</h5>
                  <span>at</span>
                  <h6>L'Oréal</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="feedback-slider-item" data-dot-img="images/feedback/client-1.png">
            <div class="icon">
              <img src="images/feedback/icon.svg" alt="icon" />
            </div>
            <div class="content">
              <h3>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries,
              </h3>
            </div>
            <div class="review">
              <div class="profile">
                <div class="logo">
                  <img src="images/feedback/prfile-two.png" class="" alt="" />
                </div>
                <div class="info">
                  <h5>Darlene Robertson</h5>
                  <span>at</span>
                  <h6>L'Oréal</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="feedback-slider-item" data-dot-img="images/feedback/client-2.png">
            <div class="icon">
              <img src="images/feedback/icon.svg" alt="icon" />
            </div>
            <div class="content">
              <h3>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here, content here', making it look like readable English.
              </h3>
            </div>
            <div class="review">
              <div class="profile">
                <div class="logo">
                  <img src="images/feedback/prfile-three.png" class="" alt="" />
                </div>
                <div class="info">
                  <h5>Brooklyn Simmons</h5>
                  <span>at</span>
                  <h6>L'Oréal</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="feedback-slider-item" data-dot-img="images/feedback/client-3.png">
            <div class="icon">
              <img src="images/feedback/icon.svg" alt="icon" />
            </div>
            <div class="content">
              <h3>
                Contrary to popular belief, Lorem Ipsum is not simply random
                text. It has roots in a piece of classical Latin literature from
                45 BC, making it over 2000 years old. Richard McClintock, a
                Latin professor at Hampden-Sydney College in Virginia, looked up
                one of the more obscure Latin words, consectetur,
              </h3>
            </div>
            <div class="review">
              <div class="profile">
                <div class="logo">
                  <img src="images/feedback/prfile-four.png" class="" alt="" />
                </div>
                <div class="info">
                  <h5>Sabo Masties</h5>
                  <span>at</span>
                  <h6>L'Oréal</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="feedback-slider-item" data-dot-img="images/feedback/client-4.png">
            <div class="icon">
              <img src="images/feedback/icon.svg" alt="icon" />
            </div>
            <div class="content">
              <h3>
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
                injected humour, or randomised words which don't look even
                slightly believable. If you are going to use a passage of Lorem
                Ipsum, you need to be sure there
              </h3>
            </div>
            <div class="review">
              <div class="profile">
                <div class="logo">
                  <img src="images/feedback/prfile-five.png" class="" alt="" />
                </div>
                <div class="info">
                  <h5>Sabo Masties</h5>
                  <span>at</span>
                  <h6>L'Oréal</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=========== End feedback-slider ==========-->
      </div>
    </div>
  </div>
</section>
<!--
  #############
  End Feedback-two section
  #############
-->
