<!--
  #############
  Feedback section
  #############
-->
<section class="feedback py-8 py-lg-9 py-xxl-10">
  <div class="container">
    <div class="row">
      <!--==== Srart feedback counter-up Section  =====-->
      <div class="col-lg-12">
        <div class="counter-wraper pb-4 pb-lg-6 pb-xl-8 d-md-flex">
          <div class="counter-up-content">
            <div class="counter-up-content-item">
              <div class="counter-percent">
                <span class="counter">80</span><span class="percent">+</span>
              </div>
              <h5>SOFTWARE PROJECTS</h5>
            </div>
          </div>
          <div class="counter-up-content">
            <div class="counter-up-content-item">
              <div class="counter-percent">
                <span class="counter">60</span><span class="percent">+</span>
              </div>
              <h5>Successful Product Launches</h5>
            </div>
          </div>
          <div class="counter-up-content">
            <div class="counter-up-content-item">
              <div class="counter-percent">
                <span class="counter">6</span><span class="percent">+</span>
              </div>
              <h5>YEARS EXPERIENCE</h5>
            </div>
          </div>
          <div class="counter-up-content">
            <div class="counter-up-content-item">
              <div class="counter-percent">
                <span class="counter">100</span><span class="percent">+</span>
              </div>
              <h5>Backlogs managed</h5>
            </div>
          </div>
        </div>
      </div>
      <!--==== End feedback counter-up Section  =====-->
      <div class="col-lg-10 text-center">
        <div class="section-header align-items-center">
          <h2 class="text-white align-items-center">🙂</h2>
        </div>
    
      </div>
    </div>
  </div>
</section>
<!--
  #############
  End Feedback section
  #############
-->
