<!-- 
  ########### 
 hero-two section
  ##########
-->
<section class="hero-two pt-10 pt-xxl-10 position-relative pb-lg-6 pb-xxl-8">
  <div class="hero-two-shape-wrapper position-absolute w-100 h-100 hero-bg-image">
    <img src="/src/images/hero-image-3" alt="Hero image">
    <div class="shape-1"></div>
    <div class="shape-2"></div>
    <div class="shape-3"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div
          class="hero-two-content pb-8 text-center"
          data-aos="fade-left"
          data-aos-duration="600"
          data-aos-once="true"
        >
          <div class="banner">
            <img
              src="images/hero/hero-image-3.png"
              class="z-100"
              alt="hero images"
            />
          </div>
          <h1 class="">
            Vadim Vozmitsel <br />
          </h1>
          <p class="hero-two-desc">
            Sr.Product Manager & Creator. <br />
            I'm building meaningful solutions for the artificially intelligent future.
            <br />
          </p>
          <p class="small-sub">
            Battle-tested & Experienced in all things Agile, UXI, Pro Audio Tech & more.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
  ########### 
 hero-two section
  ##########
-->
