<!-- ########### Hero Area ########## -->

<section class="hero pt-10 position-relative pb-0">
  <div class="hero-shape-wrapper position-absolute w-100 h-100">
    <div class="shape-1"></div>
    <div class="shape-2"></div>
    <div class="shape-3"></div>
    <div class="shape-4"></div>
  </div>
  <div class="hero-banner-wraper position-absolute w-100 h-100">
    <div class="shape"></div>
  </div>
  <div class="container-xxl">
    <div class="row align-items-center hero-row">
      <div class="col-12 col-lg-6">
        <div class="hero-content text-center text-lg-start"
          data-aos="fade-up"
          data-aos-duration="600"
          data-aos-once="true">
          <h1 class="mb-6 hero-h1-text">
            Senior Product Manager and Developer <br />
          </h1>
          <p class="mb-md-7 mb-6 w-xxl-85 w-100 hero-paragraph">
            Product Manager, Designer, Developer & Founder based in San Francisco Bay Area.
          </p>
          <div class="sp">
            <a href="contact.html" class="mb-6 mb-lg-0">
              <div class="">
                <button>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span> Contact me
                </button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div
          class="hero-banner position-relative"
          data-aos="fade-left"
          data-aos-duration="600"
          data-aos-delay="200"
          data-aos-once="true">
          <div class="hero-banner-image text-lg-start text-md-center text-xxl-end">
            <img
              src="images/hero/hero-image.png"
              class="img-fluid"
              alt="hero images"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- ########### End Hero Area ########## -->
