<!-- 
  ########### 
 hero-three section
  ##########
-->
<section class="hero-three pt-2 pt-md-12 position-relative">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div
          class="hero-content text-center text-lg-start"
          data-aos="fade-up"
          data-aos-duration="600"
          data-aos-once="true"
        >
          <h1 class="mb-4">
            Vadim Vozmitsel
          </h1>
          <p class="mb-6 w-100 w-lg-100">
            Product Manager & Full-Stack Developer
          </p>
        </div>
      </div>
      <div class="col-lg-6 ms-auto">
        <div
          class="hero-banner position-relative"
          data-aos="fade-up"
          data-aos-duration="600"
          data-aos-delay="200"
          data-aos-once="true"
        >
          <div
            class="hero-banner-image text-lg-start text-md-center text-xxl-end hero-image-large"
          >
            <img
              src="images/hero/hero-image-7.png"
              class="img-fluid w-100 mt-5"
              alt="hero images"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
  ########### 
 End hero-three section
  ##########
-->
