<!--
  #############
  Navbar two Area
  #############
-->

<header>
  <!--Navbar-->
  <nav class="navbar nav-two navbar-expand-lg position-fixed w-100 " id="navigationBar">
    <div class="container-xxl">
      <!--Navbar Brand-->
      <a class="navbar-brand navbar-brand-two " href="index.html">
        <img src="images/logo.svg" alt="" class="logo">
        <img src="images/logo-white.svg" alt="" class="white-logo">
      </a>
      <!--Navbar Toggler-->
      <button class="navbar-toggler p-3" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.125 10H16.875" stroke="#060A11" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M3.125 5H16.875" stroke="#060A11" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M3.125 15H16.875" stroke="#060A11" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
        <span class="navbar-toggler-toggled">
          <svg width="20" height="20" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.5 6.5L6.5 21.5" stroke="#404152" stroke-width="3" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M21.5 21.5L6.5 6.5" stroke="#404152" stroke-width="3" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
      </button>
      <!--Navbar Menus Collapse-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-two ms-xxl-6 ms-0 ">
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle " href="index.html" role="button" data-bs-toggle="dropdown">Home</a>
            <ul class="dropdown-menu">
              <li class="dropdown-megamenu-conatiner ">
                <ul class="list-unstyled ">
                  <li class="dropdown-megamenu-column-items">
                    <a href="index.html" class="dropdown-item">Product Designer</a>
                  </li>
                  <li class="dropdown-megamenu-column-items">
                    <a href="index2.html" class="dropdown-item ">Developer</a>
                  </li>
                  <li class="dropdown-megamenu-column-items">
                    <a href="index3.html" class="dropdown-item ">Graphic Designer</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="project.html">
              Project
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">
              Behance
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dribbble</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">Blog</a>
          </li>
          <li class="nav-item mt-6 mt-lg-0 ms-lg-7 ms-xl-18 ms-xxl-21 ms-sm-0 w-80 w-sm-25 w-md-20">
            <a href="contact.html" class="btn btn-sm btn-links w-100">
              <span class=" position-relative">
                Contact
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 15L15 5" stroke="#060A11" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M6.875 5L15 5L15 13.125" stroke="#060A11" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg></span>
              <span class=" position-relative">
                Contact
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 15L15 5" stroke="#060A11" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M6.875 5L15 5L15 13.125" stroke="#060A11" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!--
  #############
  End of  Navbar two Area
  #############
-->