<!--
  #############
  Navbar Area
  #############
-->

<header>
  <!--Navbar-->
  <nav class="navbar navbar-expand-xxl position-fixed w-100 zindex-dropdown" id="navigationBar">
    <div class="container-fluid">
      <div class="d-flex justify-content-between w-100">
        <!--Navbar Brand-->
        <a class="navbar-brand" href="index.html">
          <img src="images/logo.svg" alt="Vadim logo image" class="">
        </a>
        <!--Navbar Menus-->
        <div class="d-flex align-items-center">
          <!--Navbar Toggler-->
          <button class="navbar-toggler p-3 me-1" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-default">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.125 10H16.875" stroke="#060A11" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M3.125 5H16.875" stroke="#060A11" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M3.125 15H16.875" stroke="#060A11" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
            <span class="navbar-toggler-toggled">
              <svg width="20" height="20" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.5 6.5L6.5 21.5" stroke="#404152" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M21.5 21.5L6.5 6.5" stroke="#404152" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </button>

          <!--Navbar Menus Collapse-->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-xxl-6 ms-0">
              <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle " href="index.html" role="button" data-bs-toggle="dropdown">Home</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-megamenu-conatiner ">
                    <ul class="list-unstyled ">
                      <li class="dropdown-megamenu-column-items">
                        <a href="index.html" class="dropdown-item">Senior Product Manager</a>
                      </li>
                      <li class="dropdown-megamenu-column-items">
                        <a href="index2.html" class="dropdown-item ">UXI Designer</a>
                      </li>
                      <li class="dropdown-megamenu-column-items">
                        <a href="index3.html" class="dropdown-item ">Full-Stack Developer</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li
              <li class="nav-item ">
                <a class="nav-link @@if(nav=='project'){active}" href="project.html">
                Project
                </a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" href="#">Behance</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Dribbble</a>
                </li>
                <li class="nav-item">
                <a class="nav-link @@if(nav=='blog'){active}" href="blog.html">Blog</a>
                </li>
                </ul>
                </div>
                </div>
                <!-- Contact Button and Toggle Switch -->
                <div class="d-flex align-items-center">
                <div class="container">
                <a href="contact.html" class="contact-button">
                <div>Get in touch</div>
                </a>
                </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

  <!-- ############# End of  Navbar Area ############# -->
