<!--
  ###########
  Project section
  ###########
-->
<section class="project @@padding">
  <div class="project-shape-wrapper position-absolute w-100 h-100">
    <div class="shape-1"></div>
    <div class="shape-2"></div>
    <div class="shape-3 @@display"></div>
  </div>
  <div class="container-xxl">
    <!--==== Start project Section Header =====-->
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
    <!--==== End project Section Header =====-->
    <div class="row">
      <!-- ==== Start project Item =====-->
      <div class="col-lg-12">
        <div class="project-item one mb-5">
          <div class="project-item-content">
            <h2>
              Tesseract Products <br />
              Audio, AI Tools
            </h2>
            <p>Full-Stack Product Build, From concept to code</p>
            <a
              href="project-details.html"
              class="btn btn-secondary btn-lg mb-4 mb-sm-0"
            >
              <span class="position-relative"> Case Study</span>
              <span class="position-relative"> Case Study</span>
            </a>
          </div>
          <div class="project-item-banner">
            <img
              src="images/project/project-1.png"
              class="w-100"
              alt="project-image"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="project-item mb-5">
          <div class="project-item-content">
            <h5 class="">
              Geenius Platform <br />
              AI Powered Creative Suite
            </h5>
            <p class=""> Full-Stack Product Design & Development</p>
            <a
              href="project-details.html"
              class="btn btn-md btn-danger button-smooth btn-lg mb-4 mb-sm-0"
            >
              <span class="position-relative"> Coming soon</span>
            </a>
          </div>
          <div class="project-item-banner">
            <img
              src="images/project/project-2.png"
              class="w-100"
              alt="project-image"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="project-item-two">
          <div class="project-item-two-content">
            <h5>
              Visual Programming <br />
              Agency Freelance Work
            </h5>
            <p>Front-End & UI</p>
            <a
              href="project-details.html"
              class="
                btn btn-sm button-smooth
                w-80
                mx-auto
                w-sm-35 w-md-25 w-lg-50 w-xxl-40
              "
            >
              <span class="position-relative"> View Project</span>
            </a>
          </div>
          <div class="project-item-two-banner">
            <img
              src="images/project/project-3.png"
              class="w-100"
              alt="project-image"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="project-item-two project-item-two-left">
          <div class="project-item-two-content">
            <h5>
              Modern Hybrid UI Design <br />
              for Web & Mobile apps
            </h5>
            <p>UX, UI, Implementation</p>
            <a
              href="project-details.html"
              class="
                btn btn-white btn-sm
                w-80
                mx-auto
                w-sm-35 w-md-25 w-lg-50 w-xxl-40
              "
            >
              <span class="position-relative"> View Project</span>
              <span class="position-relative"> View Project</span>
            </a>
          </div>
          <div class="project-item-two-banner">
            <img
              src="images/project/project-4.png"
              class="w-100"
              alt="project-image"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-8 mt-4">
        <div class="project-item bg-light-dark h-100">
          <div class="project-item-content">
            <h5 class="text-white">
              Launch Haus <br />
              AI Stock Marketplace
            </h5>
            <p class="text-white">Web Site Design</p>
            <a
              href="project-details.html"
              class="btn btn-white btn-sm mb-4 mb-sm-0"
            >
              <span class="position-relative"> Case Study</span>
              <span class="position-relative"> Case Study</span>
            </a>
          </div>
          <div class="project-item-banner">
            <img
              src="images/project/project-5.png"
              class="w-100"
              alt="project-image"
            />
          </div>
        </div>
      </div>
      <!--==== End project Item =====-->
    </div>
  </div>
</section>

<!-- 
  ########### 
  End project section
  ###########
-->
