<!-- 
  ########### 
  project-three Section
  ###########
-->

<section class="project-three">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-header">
          <h2>Next projects ✌</h2>
        </div>
        <div class="col-lg-12">
          <div class="project-item one">
            <div class="project-item-content">
              <h2>
                Fashion Blog <br />
                Website
              </h2>
              <p>UI, UX Project</p>
              <a
                href="project-details.html"
                class="btn btn-secondary btn-lg mb-4 mb-sm-0"
              >
                <span class="position-relative"> Case Study</span>
                <span class="position-relative"> Case Study</span>
              </a>
            </div>
            <div class="project-item-banner">
              <img
                src="images/project/project-1.png"
                class="w-100"
                alt="project-image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
  ########### 
  End project-three Section
  ###########
-->
