<!--
  ###########
  Hero Section For Projects
  ###########
-->
<section class="page-hero">
  <div class="page-hero-shape-wrapper position-absolute w-100 h-100">
    <div class="shape-1">
    </div>
    <div class="shape-2">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="@@collClass">
        <div class="page-heading">
          <div class="page-heading-title">
            <h1>@@breadcrumb-title</h1>
          </div>
          <div class="page-heading-content d-sm-flex justify-content-center justify-content-lg-start">
            <div class="me-xxl-5 me-lg-8">
              <div class="item">
                <span>@@breadcrumb-item-1</span>
                <span class="title">@@breadcrumb-item-2</span>
              </div>
              <div class="item">
                <span>@@breadcrumb-item-3</span>
                <span class="title">@@breadcrumb-item-4</span>
              </div>
            </div>
            <div class="">
              <div class="item">
                <span>@@breadcrumb-item-5</span>
                <span class="title">@@breadcrumb-item-6</span>
              </div>
              <div class="item">
                <span>@@breadcrumb-item-7</span>
                <span class="title"><a href="@@breadcrumb-link">@@breadcrumb-item-8</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
  ###########
  End Hero Section For Projects
  ###########
-->