<!-- 
  ########### 
  Project Details Section
  ###########
-->
<section class="project-desc">
  <div class="project-feature-photo">
    <img src="images/project/feature-image.png" alt="Feature Image" class="w-100">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="project-desc-header">
          <h3 class="">Brand Overview</h3>
          <p class="">To satisfy our goal of creating a brand that could adapt across many use cases, we took the
            base form of their new logo and used it as an artboard. As long as the structural outline of the mark stayed
            consistent their brand was allowed to flex and adapt to specific uses. And by introducing these illustrative
            elements to the logomark, Strictly found it’s voice. <br> To satisfy our goal of creating a brand that could
            adapt
            across many use cases, we took the base form of their new logo and used it as an artboard. As long as the
            structural outline of the mark stayed consistent their brand was allowed to flex and adapt to specific uses.
          </p>
        </div>
        <div class="project-desc-header">
          <h3 class="">Project Goals</h3>
          <p class="">Strictly found it’s voice to satisfy our goal of creating a brand that could adapt across many
            use cases, we took the base form of their new logo and used it as an artboard. As long as the structural
            outline of the mark stayed consistent their brand was allowed to flex and adapt to specific uses. And by
            introducing these illustrative elements to the logomark, To satisfy our goal of creating a brand that could
            adapt across many use cases.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 me-auto">
        <div class="project-desc-content">
          <h3>Problems</h3>
          <ol class="list-styled">
            <li>Strictly found it’s voice to satisfy our goal of</li>
            <li> creating a brand that could adapt across many use cases,</li>
            <li> we took the base form of their new logo and used it as an artboard. </li>
            <li>As long as the structural outline of the mark stayed consistent their brand was allowed to flex and
              adapt to specific uses. </li>
            <li> Introducing these illustrative elements to the logomark,<br>
              To satisfy our goal of creating a brand
              that could adapt across many use cases.</li>
          </ol>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="project-desc-content">
          <h3>Solutions</h3>
          <ol class="list-styled">
            <li>Strictly found it’s voice to satisfy our goal of</li>
            <li> creating a brand that could adapt across many use cases,</li>
            <li> we took the base form of their new logo and used it as an artboard. </li>
            <li>As long as the structural outline of the mark stayed consistent their brand was allowed to flex and
              adapt to specific uses. </li>
            <li> Introducing these illustrative elements to the logomark,<br>
              To satisfy our goal of creating a brand
              that could adapt across many use cases.</li>
          </ol>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="banner">
          <img src="images/project/banner-1.png" alt="banner" class="w-100">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <div class="project-desc-header">
          <h3 class="">The Approach</h3>
          <p class="">To satisfy our goal of creating a brand that could adapt across many use cases, we took the
            base form of their new logo and used it as an artboard. As long as the structural outline of the mark stayed
            consistent their brand was allowed to flex and adapt to specific uses. And by introducing these illustrative
            elements to the logomark, Strictly found it’s voice. <br> To satisfy our goal of creating a brand that could
            adapt
            across many use cases, we took the base form of their new logo and used it as an artboard. As long as the
            structural outline of the mark stayed consistent their brand was allowed to flex and adapt to specific uses.
          </p>
          <div class="pt-22">
            <img src="images/project/banner-2.png" alt="banner" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
###########
End Project Details Section
###########
-->