<!-- 
  ########### 
  Project  Releted Items Section
  ###########
-->
<section class="project-related pb-0 pb-lg-8 pb-xxl-11">
  <div class="container">
    <!--Section Header-->
    <div class="row">
      <div class="col-lg-10">
        <div class="section-header">
          <h2>All Design</h2>
          <p>Strictly found it’s voice to satisfy our goal of creating a brand that could adapt across many use cases,
            we took the base form of their new logo and used it as an artboard. As long as the structural outline of the
            mark stayed consistent their brand was allowed to flex and adapt to specific uses. And by introducing these
            illustrative elements to the logomark,To satisfy our goal of creating a brand that could adapt across
            many use cases.</p>
        </div>
      </div>
      <!--Section Header-->
    </div>
    <!--Project Work-->
    <div class="row">
      <!--Project Item-->
      <div class="col-md-6">
        <div class="project-related-item">
          <img src="images/project/project-7.png" alt="" class="">
        </div>
      </div>

      <!--Project Item-->
      <div class="col-md-6">
        <div class="project-related-item">
          <img src="images/project/project-8.png" alt="" class="">
        </div>
      </div>
    </div>
    <!--Project Work-->
  </div>
</section>
<!-- 
  ########### 
  End Project  Releted Items Section
  ###########
-->