<!--
  ###########
  Related-blog section
  ###########
-->
<section class="related-blog pt-xxl-19 pt-0 pb-xxl-4">
  <div class="container">
    <!-- ==== Srart related-blog Section Header =====-->
    <div class="row">
      <div class="col-lg-12">
        <h2 class="mb-7 text-lg-start text-center">Recent Blog</h2>
      </div>
    </div>
    <!-- ==== End related-blog Section Header =====-->
    <div class="row">
      <!-- ==== Srart related-blog Item =====-->
      <div class="col-lg-4">
        <article class="card ">
          <div class="card-img">
            <img src="images/blog/featured-thumb2.png" alt="featured-thumb1" class="w-100">
          </div>
          <div class="card-body">
            <div class="blog-post-meta pt-4">
              <ul class="list-unstyled">
                <li class="">
                  <a href="taxonomy.html"> Design</a>
                </li>
                <li class="">
                  <span class="ms-2">15 April 2021</span>
                </li>
              </ul>
            </div>
            <a href="blog-details.html">
              <h5>Usable Templates and Blocks for Jamstack</h5>
            </a>
          </div>
        </article>
      </div>
      <div class="col-lg-4">
        <article class="card ">
          <div class="card-img">
            <img src="images/blog/featured-thumb3.png" alt="featured-thumb1" class="w-100">
          </div>
          <div class="card-body">
            <div class="blog-post-meta pt-4">
              <ul class="list-unstyled">
                <li class="">
                  <a href="taxonomy.html"> Design</a>
                </li>
                <li class="">
                  <span class="ms-2">15 April 2021</span>
                </li>
              </ul>
            </div>
            <a href="blog-details.html">
              <h5>Usable Templates and Blocks for Jamstack</h5>
            </a>
          </div>
        </article>
      </div>
      <div class="col-lg-4">
        <article class="card ">
          <div class="card-img">
            <img src="images/blog/featured-thumb4.png" alt="featured-thumb1" class="w-100">
          </div>
          <div class="card-body">
            <div class="blog-post-meta pt-4">
              <ul class="list-unstyled">
                <li class="">
                  <a href="taxonomy.html"> Design</a>
                </li>
                <li class="">
                  <span class="ms-2">15 April 2021</span>
                </li>
              </ul>
            </div>
            <a href="blog-details.html">
              <h5>Usable Templates and Blocks for Jamstack</h5>
            </a>
          </div>
        </article>
      </div>
      <!-- ==== hide-more-blog ======-->
      <div class="col-lg-4 next-blog">
        <article class="card">
          <div class="card-img">
            <img src="images/blog/featured-thumb5.png" alt="featured-thumb1" class="w-100">
          </div>
          <div class="card-body">
            <div class="blog-post-meta ">
              <ul class="list-unstyled">
                <li class="">
                  <a href="taxonomy.html">Developmen</a>
                </li>
                <li class="">
                  <span class="ms-2">15 April 2021</span>
                </li>
              </ul>
            </div>
            <a href="blog-details.html" class="">
              <h5>Usable Templates and Blocks for Jamstack</h5>
            </a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 next-blog">
        <article class="card">
          <div class="card-img">
            <img src="images/blog/featured-thumb6.png" alt="featured-thumb1" class="w-100">
          </div>
          <div class="card-body">
            <div class="blog-post-meta ">
              <ul class="list-unstyled">
                <li class="">
                  <a href="taxonomy.html">Developmen</a>
                </li>
                <li class="">
                  <span class="ms-2">15 April 2021</span>
                </li>
              </ul>
            </div>
            <a href="blog-details.html" class="">
              <h5>Usable Templates and Blocks for Jamstack</h5>
            </a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 next-blog">
        <article class="card">
          <div class="card-img">
            <img src="images/blog/featured-thumb7.png" alt="featured-thumb1" class="w-100">
          </div>
          <div class="card-body">
            <div class="blog-post-meta ">
              <ul class="list-unstyled">
                <li class="">
                  <a href="taxonomy.html">Design</a>
                </li>
                <li class="">
                  <span class="ms-2">15 April 2021</span>
                </li>
              </ul>
            </div>
            <a href="blog-details.html" class="">
              <h5>Usable Templates and Blocks for Jamstack</h5>
            </a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 next-blog">
        <article class="card">
          <div class="card-img">
            <img src="images/blog/featured-thumb8.png" alt="featured-thumb1" class="w-100">
          </div>
          <div class="card-body">
            <div class="blog-post-meta ">
              <ul class="list-unstyled">
                <li class="">
                  <a href="taxonomy.html">Design</a>
                </li>
                <li class="">
                  <span class="ms-2">15 April 2021</span>
                </li>
              </ul>
            </div>
            <a href="blog-details.html" class="">
              <h5>Usable Templates and Blocks for Jamstack</h5>
            </a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 next-blog">
        <article class="card">
          <div class="card-img">
            <img src="images/blog/featured-thumb9.png" alt="featured-thumb1" class="w-100">
          </div>
          <div class="card-body">
            <div class="blog-post-meta ">
              <ul class="list-unstyled">
                <li class="">
                  <a href="taxonomy.html">Design</a>
                </li>
                <li class="">
                  <span class="ms-2">15 April 2021</span>
                </li>
              </ul>
            </div>
            <a href="blog-details.html" class="">
              <h5>Usable Templates and Blocks for Jamstack</h5>
            </a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 next-blog">
        <article class="card">
          <div class="card-img">
            <img src="images/blog/featured-thumb10.png" alt="featured-thumb1" class="w-100">
          </div>
          <div class="card-body">
            <div class="blog-post-meta ">
              <ul class="list-unstyled">
                <li class="">
                  <a href="taxonomy.html">Teleology</a>
                </li>
                <li class="">
                  <span class="ms-2">15 April 2021</span>
                </li>
              </ul>
            </div>
            <a href="blog-details.html" class="">
              <h5>Usable Templates and Blocks for Jamstack</h5>
            </a>
          </div>
        </article>
      </div>
      <!--==== hide-more-blog ======-->
      <!-- ==== End related-blog Item =====-->
      <div class="d-flex justify-content-center">
        <a href="#" class="load-more mt-xxl-9 mt-md-8 mt-4">
          <i class="ph-arrow-down"></i>More Blog</a>
      </div>
    </div>
  </div>
</section>
<!--
  ###########
 End Related-blog section
  ###########
-->