<!--
  ###########
  resume-two section
  ###########
-->
<section class="resume-two pt-xxl-7 pt-4">
  <div class="resume-two-shape-wrapper position-absolute w-100 h-100">
    <div class="shape-1"></div>
    <div class="shape-2"></div>
    <div class="shape-3"></div>
    <div class="shape-4"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="card">
          <div class="section-header">
            <h2>Experiences 💪</h2>
          </div>
          <div class="card-body">
            <!--==== Srart experiencEducation =====-->
            <div class="experiencEducation">
              <!-- Srart experience -->
              <div class="experience">
                <div class="title">
                  <h5>Work Experience</h5>
                </div>
                <div class="content">
                  <h4>Static Mania</h4>
                  <p>
                    Lead Designer <br />
                    August 2018 - December 2019
                  </p>
                </div>
                <div class="content">
                  <h4>Graphic Arts Institute</h4>
                  <p>
                    Designer Officer <br />
                    December 2019 - Current
                  </p>
                </div>
              </div>
              <!-- Srart education -->
              <div class="education">
                <div class="title">
                  <h5>Education</h5>
                </div>
                <div class="content">
                  <h4>Graphic Arts Institute</h4>
                  <p>
                    MS • Information Design & Technology <br />
                    2016 – 2017
                  </p>
                </div>
                <div class="content">
                  <h4>Florida Gulf Coast University</h4>
                  <p>
                    BA • Psychology <br />
                    2014 – 2015
                  </p>
                </div>
              </div>
            </div>
            <!-- ==== End experiencEducation =====-->
            <!-- ==== Srart freelance =====-->
            <div class="freelance">
              <div class="title">
                <h5>Freelance Clients</h5>
              </div>
              <div class="freelance-wrapper">
                <div class="item">
                  <img src="images/resume/client-logo-9.svg" alt="" />
                </div>
                <div class="item">
                  <img src="images/resume/client-logo-10.svg" alt="" />
                </div>
                <div class="item">
                  <img src="images/resume/client-logo-11.svg" alt="" />
                </div>
                <div class="item">
                  <img src="images/resume/client-logo-12.svg" alt="" />
                </div>
                <div class="item">
                  <img src="images/resume/client-logo-13.svg" alt="" />
                </div>
                <div class="item">
                  <img src="images/resume/client-logo-14.svg" alt="" />
                </div>
              </div>
            </div>
            <!--==== End freelance =====-->
            <!--==== Start skillsTools =====-->
            <div class="skillsTools pt-2">
              <!-- Start skills -->
              <div class="skills">
                <div class="title">
                  <h5>Skills</h5>
                </div>
                <div class="text-lg-start">
                  <div class="content mb-6 mb-lg-0">
                    <ul class="list-unstyled">
                      <li>HTML, CSS</li>
                      <li>Front-end Development</li>
                      <li>Back-End Development</li>
                      <li>Java Script, PHP</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Start tools -->
              <div class="tools">
                <div class="title">
                  <h5>Tools I use every day</h5>
                </div>
                <div class="tools-wrapper">
                  <div class="item">
                    <img src="images/resume/client-logo-15.svg" alt="" />
                  </div>
                  <div class="item">
                    <img src="images/resume/client-logo-16.svg" alt="" />
                  </div>
                  <div class="item">
                    <img src="images/resume/client-logo-17.svg" alt="" />
                  </div>
                  <div class="item">
                    <img src="images/resume/client-logo-18.svg" alt="" />
                  </div>
                  <div class="item">
                    <img src="images/resume/client-logo-19.svg" alt="" />
                  </div>
                  <div class="item">
                    <img src="images/resume/client-logo-20.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <!-- ==== End skills Tools =====-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
  ###########
  End resume-two section
  ###########
-->
