<!--
  ###########
  services section
  ###########
-->
<section class="services">
  <div class="services-shape-wrapper position-absolute w-100 h-100">
    <div class="shape-1"></div>
    <div class="shape-2"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-header">
          <h2>Provide Services 🛠</h2>
        </div>
      </div>
    </div>
    <!-- ==== Srart services Item =====-->
    <div class="row">
      <div class="col-lg-4">
        <div class="card text-center">
          <div class="card-icon">
            <img src="images/service/services-icon-1.svg" alt="services-icon" />
          </div>
          <div class="card-body">
            <h4 class="card-title">UX, UI Design</h4>
            <p class="card-text">
              Strategy formulation is built on "the match between all
              organisation resources and skills based program. Design is the
              first thing that catches.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center">
          <div class="card-icon">
            <img src="images/service/services-icon-2.svg" alt="services-icon" />
          </div>
          <div class="card-body">
            <h4 class="card-title">Web Design</h4>
            <p class="card-text">
              Strategy formulation is built on "the match between all
              organisation resources and skills based program. Design is the
              first thing that catches.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center mb-0">
          <div class="card-icon">
            <img src="images/service/services-icon-3.svg" alt="services-icon" />
          </div>
          <div class="card-body">
            <h4 class="card-title">UX Research</h4>
            <p class="card-text">
              Strategy formulation is built on "the match between all
              organisation resources and skills based program. Design is the
              first thing that catches.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- ==== End services Item =====-->
  </div>
</section>
<!--
  ###########
 End services section
  ###########
-->
