<!--
  #############
  Footer Area
  #############
-->
<!-- Mark up for Script Section-->
<script src="vendor/jQuery/jquery.min.js"></script>
<script src="vendor/bootstrap/bootstrap.bundle.min.js"></script>
<script src="vendor/slick/slick.min.js"></script>
<script src="vendor/aos/aos.js"></script>
<script src="vendor/tweenmax/TweenMax.min.js"></script>
<script src="vendor//counter-up/countup.js"></script>
<script src="vendor/waypoints/waypoints.min.js"></script>
<script src="vendor/match-height/match-height.js"></script>
<script src="js/script.js"></script>
</body>

</html>