<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8" />
  <title>Vadim Vozmitsel - Full-Stack Developer & UXI Designer</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/aos/aos.css">
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="vendor/icomoon/style.css">
  <link rel="stylesheet" href="vendor/phosphor-icons/css/phosphor.css">
  <link rel="stylesheet" href="vendor/slick/slick.css">
  <link href="css/theme.css" rel="stylesheet" />


  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="images/favicon.png" type="image/x-icon" />
</head>

<body>